.swipe-page data-role="page" id="group" data-dom-cache="true" data-theme="a"
  = render :partial => "group"

.swipe-page data-role="page" id="summary" data-dom-cache="true" data-theme="a" data-prev="#group"
  = render :partial => "summary"
